p {
  text-align: center;
}

.login-page {
  margin-top: 0px;
  background-image: linear-gradient(to bottom, #b666c4, #ffffff);
  color: #333;
  border-radius: 10px;
  background-position: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #333;
